header {
    /* think about which properties you'd want to use to make the header */
    display: flex;
    justify-content: space-between;
    /* border-bottom color should be accent-background */
    border-bottom: 2px solid;
    border-bottom-color: var(--accent-background);
    margin-top: 3rem;
    margin-bottom:1rem;
    padding-bottom:1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  input[type="search"] {
    border-radius: 10px;
    background-color: none;
    border: solid;
    border-color: var(--darkest-gray);
    padding: 8px;
    margin: 15px;
  }
  
  article h1 a {
    /*color should be accent-background */
    color: var(--accent-background);
  }
  
  article {
    flex: 0 0 30%;
    min-width: 30ch;
    max-width: 50ch;
  }
  
  main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }