body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

body > * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;
    padding: 1rem;
    box-sizing: border-box;
    flex-flow: column;
}

aside {
    max-width: 35rem;
    background-color: #54a0ff;
}

h1 {
    font-size: 2rem;
    line-height: 3rem;
}

aside h1 {
    text-align: center;
}

img.profile {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.logo {
    width:2rem;
    height:2rem;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

nav {
    align-self: flex-end;
    background-color: transparent !important;
}

article {
    margin: auto;
}

figcaption > p {
    text-align: center;
}

ul > * {
    margin-left: .5rem;
    margin-right: .5rem;
}
